<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clavardage CAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div class="text-center flex-grow-0 row">
        <h1>Clavardage du CAI</h1>
    </div>
    <div class="text-end mb-2">
        <a href="/logout" class="btn btn-secondary">Déconnexion</a>
    </div>
    <h2>Administration du site</h2>
    <p></p>
    <a class="btn btn-primary mx-1 rounded-1" href="./allTech">
        Comptes des techniciens
    </a>
    <p></p>
    <a class="btn btn-primary mx-1 rounded-1" href="./connexionLog" >
        Rapport de connexion
    </a>

</div>
</body>
</html>